example-flows/highest_capacity.json
[
    {
        "id": "92193ed2.97f37",
        "type": "tab",
        "label": "trial",
        "disabled": false,
        "info": "trial"
    },
    {
        "id": "a32b546b.6438b8",
        "type": "fog-node",
        "z": "92193ed2.97f37",
        "name": "node 1",
        "number": "1",
        "capacity": "300",
        "level": 1,
        "IPS": "700",
        "latency": "150",
        "mode": "highest_capacity",
        "x": 630,
        "y": 160,
        "wires": [
            [
                "d3916e2e.8b12a"
            ]
        ]
    },
    {
        "id": "91150dba.9c13d",
        "type": "fog-node",
        "z": "92193ed2.97f37",
        "name": "node 2",
        "number": "2",
        "capacity": "285",
        "level": 1,
        "IPS": "1200",
        "latency": "250",
        "mode": "highest_capacity",
        "x": 630,
        "y": 220,
        "wires": [
            [
                "d3916e2e.8b12a"
            ]
        ]
    },
    {
        "id": "77d54ec2.3a60b",
        "type": "fog-node",
        "z": "92193ed2.97f37",
        "name": "node 3",
        "number": "3",
        "capacity": "410",
        "level": 1,
        "IPS": "800",
        "latency": "190",
        "mode": "highest_capacity",
        "x": 630,
        "y": 280,
        "wires": [
            [
                "d3916e2e.8b12a"
            ]
        ]
    },
    {
        "id": "d3916e2e.8b12a",
        "type": "switch",
        "z": "92193ed2.97f37",
        "name": "router",
        "property": "forwardTo",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 810,
        "y": 220,
        "wires": [
            [
                "becb15a3.a302c8"
            ],
            [
                "e5ae5803.b29348"
            ],
            [
                "3a58c90e.176ff6",
                "8710da38.8a7428"
            ]
        ]
    },
    {
        "id": "becb15a3.a302c8",
        "type": "fog-node",
        "z": "92193ed2.97f37",
        "name": "node 4",
        "number": "4",
        "capacity": "700",
        "level": "2",
        "IPS": "3150",
        "latency": "210",
        "mode": "highest_capacity",
        "x": 970,
        "y": 180,
        "wires": [
            [
                "6ccdc288.367fac"
            ]
        ]
    },
    {
        "id": "e5ae5803.b29348",
        "type": "fog-node",
        "z": "92193ed2.97f37",
        "name": "node 5",
        "number": "5",
        "capacity": "750",
        "level": "2",
        "IPS": "4100",
        "latency": "350",
        "mode": "highest_capacity",
        "x": 970,
        "y": 240,
        "wires": [
            [
                "6ccdc288.367fac"
            ]
        ]
    },
    {
        "id": "3a58c90e.176ff6",
        "type": "debug",
        "z": "92193ed2.97f37",
        "name": "Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1230,
        "y": 360,
        "wires": []
    },
    {
        "id": "6ccdc288.367fac",
        "type": "switch",
        "z": "92193ed2.97f37",
        "name": "",
        "property": "forwardTo",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "cloud",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1130,
        "y": 200,
        "wires": [
            [
                "3a58c90e.176ff6"
            ],
            [
                "d1e10ae1.c32518",
                "8710da38.8a7428"
            ]
        ]
    },
    {
        "id": "1608676c.145c69",
        "type": "device",
        "z": "92193ed2.97f37",
        "name": "mobile 1",
        "minCapacity": "1",
        "maxCapacity": "300",
        "minIPS": "1000",
        "maxIPS": "2000",
        "interval": "0.7",
        "x": 380,
        "y": 160,
        "wires": [
            [
                "a32b546b.6438b8"
            ]
        ]
    },
    {
        "id": "8e64a9e8.f2be58",
        "type": "device",
        "z": "92193ed2.97f37",
        "name": "mobile 2",
        "minCapacity": "50",
        "maxCapacity": "500",
        "minIPS": "1900",
        "maxIPS": "2400",
        "interval": "1",
        "x": 380,
        "y": 220,
        "wires": [
            [
                "91150dba.9c13d"
            ]
        ]
    },
    {
        "id": "bb5f6b87.7de3b8",
        "type": "device",
        "z": "92193ed2.97f37",
        "name": "ECG",
        "minCapacity": "10",
        "maxCapacity": "60",
        "minIPS": "100",
        "maxIPS": "700",
        "interval": "1",
        "x": 370,
        "y": 280,
        "wires": [
            [
                "77d54ec2.3a60b"
            ]
        ]
    },
    {
        "id": "a08ff161.bc217",
        "type": "device",
        "z": "92193ed2.97f37",
        "name": "mobile 3",
        "minCapacity": "200",
        "maxCapacity": "800",
        "minIPS": "700",
        "maxIPS": "1000",
        "interval": "2",
        "x": 380,
        "y": 340,
        "wires": [
            [
                "77d54ec2.3a60b"
            ]
        ]
    },
    {
        "id": "5eeaa53c.ba835c",
        "type": "inject",
        "z": "92193ed2.97f37",
        "name": "start",
        "props": [
            {
                "p": "action",
                "v": "start",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "1608676c.145c69",
                "8e64a9e8.f2be58",
                "bb5f6b87.7de3b8",
                "a08ff161.bc217"
            ]
        ]
    },
    {
        "id": "e62af51b.485df8",
        "type": "inject",
        "z": "92193ed2.97f37",
        "name": "stop",
        "props": [
            {
                "p": "action",
                "v": "stop",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "1608676c.145c69",
                "8e64a9e8.f2be58",
                "bb5f6b87.7de3b8",
                "a08ff161.bc217"
            ]
        ]
    },
    {
        "id": "d1e10ae1.c32518",
        "type": "cloud",
        "z": "92193ed2.97f37",
        "name": "Cloud",
        "x": 1310,
        "y": 200,
        "wires": [
            [
                "3a58c90e.176ff6",
                "8710da38.8a7428"
            ]
        ]
    },
    {
        "id": "8710da38.8a7428",
        "type": "file",
        "z": "92193ed2.97f37",
        "name": "Saved Logs",
        "filename": "f:/projects/node-red/node-red-contrib-fog/logs.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1030,
        "y": 360,
        "wires": [
            []
        ]
    }
]